@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.interFont {
  font-family: "Inter", sans-serif !important;
  font-size: 0.96rem;
}

.interFont2 {
  font-family: "Inter", sans-serif !important;
  font-weight: 600 !important;
}

.bgLily {
  background-color: #CFAABE;
}

.formBox {
  background-color: #CFAABE;
  padding: 40px;
  border-radius: 8px;
}

.btn-primary {
  background-color: #8064A2 !important;
  border-color: #8064A2 !important;
}

.btn-primary:hover {
  background-color: #6c548a !important;
  border-color: #6c548a !important;
}

.colorRed {
  color: darkred;
}

.colorBrightRed {
  color: red !important;
}

.colorGreen {
  color: green;
}

.loginOrRegisterHref {
  text-decoration: none;
  color: #8064A2;
}

.loginOrRegisterHref:hover {
  color: #6c548a;
}

.card {
  text-decoration: none;
}

.card:hover {
  box-shadow: 5px 5px 3px lightgray;
}

#formSubmit {
  min-height: 700px;
}